################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NetworkParsers/NetworkParsers/bin/x86/Debug
